<h4>if you like what I blog about</h4>
<ul>
    <li>Follow me at <a href="http://twitter.com/#!/kernelhacker" rel="me">Twitter</a></li>
    <li>Checkout what I am coding in spare time at <a href="http://github.com/qzaidi">Github</a></li>
    <li>Or add me as a connection on  <a href="http://linkedin.com/in/qasim" rel="me">Linkedin</a>, 
    <a href="https://plus.google.com/116590445665454270527">Google+</a>
    </li>
</ul>
<h4>contact</h4>
<ul>
    <li><a href="http://twitter.com/#!/kernelhacker" rel="me">kernelhacker@twitter</a></li>
</ul>
